/* Upper  */

#uppercreaetudiant
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
}

#titrepage
{
    font-weight: bolder;
}

#legendetitre
{
    font-style: italic;
}

/* Titre des formulaires */

.titreformulaire
{
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 1%;
}